.todo-form-wrapper {
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}

.todo-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.todo-form-container > div > label {
  padding: 10px;
}

.todo-form-container > div > input {
  padding-left: 5px;
  border: 1px solid #d9d9d9;
  outline: none;
  caret-color: #767272;
}
