.todo-list-wrapper {
  padding: 15px;
}

.todo-list-wrapper > h2 {
  font-size: 20px;
  font-weight: bolder;
}

.todo-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
